In [ ]:
# NIM/NAMA  : 16521201/Michael Sihotang
# Tanggal   : 01 Desember 2021
# Deskripsi : Problem 2 Analisis dan Visualisasi Data H05.csv

In [18]:
# Nomor 1
# Nilai matematika, fisika, dan kimia Tuan Ric
import pandas as pd

# Pandas akan membaca file H05.csv yang berada di folder yang sama dengan file ipynb ini
df1 = pd.read_csv("H05.csv")

# Menampilkan data Tuan Ric dengan mencari kolom nama yang berisi "Tuan Ric"
df1.loc[df1["nama"] == "Tuan Ric"]

          nama fakultas  nilai_mat  nilai_kim  nilai_fis
3513  Tuan Ric     STEI      96.78      62.23      30.53

In [17]:
# Nomor 2
# Mahasiswa dengan nilai fisika tertinggi
import pandas as pd

# Pandas akan membaca file H05.csv yang berada di folder yang sama dengan file ipynb ini
df2 = pd.read_csv("H05.csv")

# Mencari nilai fisika maksimum
max_fis = df2["nilai_fis"].max()

# Menampilkan data mahasiswa dengan nilai maksimum
df2.loc[df2["nilai_fis"] == max_fis]

                         nama fakultas  nilai_mat  nilai_kim  nilai_fis
1936  Yuniar Fazriani Rusmana     FITB      53.61      67.19      92.57

In [11]:
# Nomor 3
# 10 Mahasiswa dengan nilai kimia tertinggi
import pandas as pd

# Pandas akan membaca file H05.csv yang berada di folder yang sama dengan file ipynb ini
df3 = pd.read_csv("H05.csv")

# Menampilkan 10 mahasiswa pertama dengan nilai kimia terurut menurun
df3.sort_values(["nilai_kim"], ascending = False)[:10]

                          nama fakultas  nilai_mat  nilai_kim  nilai_fis
2554      Faathir Reza Avicena     FTSL      57.12      81.50      78.68
2779      Dinda A A Z Mundakir     STEI      41.18      81.34      82.60
3544        Tammya Ayu Purnomo    SITHS      74.49      81.20      78.58
4934    Alyssa Nadhira Windari     FTMD      78.38      78.83      78.68
1137          Izni Nur Ibrahim     STEI      56.70      78.46      84.34
2262      Rinaldi Oky Setiawan     STEI      71.22      77.44      83.66
4070      Ias Azhari Rezkyarno    FMIPA      62.85      76.90      81.52
2945           Klara Petra T T     FTSL      73.39      76.61      78.12
1788  Naudy Germanimo Laksmana     FTMD      62.29      76.38      76.15
1310       Mardliyahtur Rohmah     STEI      63.15      76.36      74.06

In [16]:
# Nomor 4
# Banyak nilai matematika di bawah 50
import pandas as pd

# Pandas akan membaca file H05.csv yang berada di folder yang sama dengan file ipynb ini
df4 = pd.read_csv("H05.csv")

# Menampilkan banyak data dengan kolom nilai_mat dibawah 50
mat = df4.loc[df4["nilai_mat"] < 50]
print("Banyaknya mahasiswa dengan nilai matematika di bawah 50: ", len(mat))

Banyaknya mahasiswa dengan nilai matematika di bawah 50:  329

In [15]:
# Nomor 5
# Banyak mahasiswa FMIPA
import pandas as pd

# Pandas akan membaca file H05.csv yang berada di folder yang sama dengan file ipynb ini
df5 = pd.read_csv("H05.csv")

# Menampilkan banyak data dengan kolom fakultas berisi "FMIPA"
fmipa = df5.loc[df5["fakultas"] == "FMIPA"]
print("Banyaknya mahasiswa FMIPA: ", len(fmipa))

Banyaknya mahasiswa FMIPA:  627